
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ERROR</title>
  <link href="{% static 'css/style404.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Sen&amp;display=swap" rel="stylesheet">
   </head>

<body>
    <div class="peerspace">
        <h1>404 ERROR</h1>
        <h3>The thing you are searching for was not found or does not exit.</h3>
        <hr>
        <a class="center peerspace" href="{% url 'home' %}">Home</a>
    </div>
</body></html>
