{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid" style="margin: 0.5%;padding: 5%;margin-left:20%;margin-right:25%%">

<fieldset class="border border-dark" style="float:center;width:50em">
  <div class="card-body text-left" style="overflow: hidden;margin:0%">

  <p class="wrap" style="color:whitesmoke;">
  <i>"Peerspace: A safe space for our friends to express their hearts out.

Just like you, we too have come to understand that some experiences turn out to be more taxing for our peace and too heavy to deal with on our own.

We at Peerspace wish to provide you a place where you can anonymously vent what bothers you. We as helpers aim to provide comfort and assistance to you, a seeker.

With the highs of life come the lows and for starters, just know it's okay to feel the way you do. We are in this together."</i></p>
</div>
</fieldset>
</div>
{% endblock content %}