{% extends 'base.html'%}
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/style1.css' %}" >
  <link href="https://fonts.googleapis.com/css2?family=Jost&family=NTR&display=swap" rel="stylesheet">
{% endblock extra_head %}
{% block content %}
  
<div style="text-align-last: left;" class="container">
    <h3 class="heading-style" style="padding: 1% 0;margin: 0 auto;">Blogs</h3>
    {%  for item in object_list %}
      <div >
        <p>
          <span class="span-style">
            <time class="time-style">
              {{item.get_date}}
            </time>
          </span> 
          <span class="author-name">
            {{item.author}}
          </span>
        </p>                 
        <h4>
          <a class="header" href="{{item.url}}" target="_blank">
            {{item.title}}
          </a>
        </h4>
        <p class="reader">
          {{item.short_desc|linebreaks}}
        </p>
      </div> 
      <hr class="dash-style">
    {% endfor %}
</div>

<ul class="pagination center">
  {% if page_obj.has_previous %}
      <li class="waves-effect"><a href="?page={{page_obj.previous_page_number}}"><i class="material-icons">chevron_left</i></a></li>
  {% endif %}

  <li class="waves-effect" style="background-color:#4ca190">
      <a class="page-link" href="?page={{page_obj.number}}" style="color:white">{{page_obj.number}}
      <span class="sr-only">(current)</span>
      </a>
  </li>

  {% if page_obj.has_next %}
      <li class="waves-effect"><a href="?page={{page_obj.next_page_number}}"><i class="material-icons">chevron_right</i></a></li>
  {% endif %}
</ul>

{% endblock content %}