{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<style>

    #kikstartz{
        width:15%;
        filter:brightness(1.3);
    }
@media only screen and (max-device-width: 800px) {
    #kikstartz{
        width:50%;
        filter:brightness(1.3);

    }
}

</style>
{% endblock extra_head %}
{% block content %}
<div class="container">
  <div class="card-panel teal large" >
    <div class="row white-text">
      <div class="col s12 m12 l6">
        <p style="color:white;margin:1em">For any queries contact:<br>
            <img src="{% static 'img/logo.png' %}" style="margin:2em;filter:brightness(1.5);max-width:100%">
            <p style="text-align:center;color:white;margin:1em">Peerspace: A safe space for our 
            friends to express their hearts out.</p>
            <b><br><a href="mailto:peerspaceofficial@gmail.com" style="color:whitesmoke;" target="_blank">peerspaceofficial@gmail.com</a></b>
            <br><a href="https://www.instagram.com/peerspaceofficial/" style="text-decoration: none;color:whitesmoke;" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i> peerspaceofficial
            </a>
            <br>
          </p>
      </div>
      <div class="col s12 m12 l6">
        <p style="color:white;margin:1em">For Professional help contact:<br>
            <img src="{% static 'img/kikstartzlogo.png' %}" id="kikstartz" style="margin:2em;filter:brightness(1.5);max-width:120%">
            <p style="color:white;margin:1em;opacity: 60%;text-align-last: left;">Kikstartz  Rehabilitation LLP is a unique  combination of "Diversity Inclusion and Healthy" workplace services. It provides  Ergonomic,Occupational and Mental Health Consultation to enhance health and productivity and strengthens human resources with it's diversity inclusion vocational rehabilitation programs.
Kikstartz D-clutter segment of Mental Health and Wellness drive for all, provides support to PeerSpace in this initiative of creating a safe space of expression and seeking help .</p>
            <b><br><a href="mailto:kikstartzdclutter@gmail.com?subject=Contacting Via PeerSpace" style="color:whitesmoke;">kikstartzdclutter@gmail.com</a><br>
            visit: <a href="http://kikstartz.com/" style="color:whitesmoke;">www.kikstartz.com</a>
            </b>
          </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}