{% extends "base.html" %}
{% block content %}


{% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
            
        {% endfor %}
{% endif %}
{{forumid}}
<br>
  <form method="POST" action="{% url 'forum-auth'%}">
     {% csrf_token %}
    <label>Forum Id:</label>
    <input type="text" name="username" autofocus="" required="" id="id_username">
    <label>Forum Code:</label>
    <input type="password" name="password" required="" id="id_password" >
    <input type="submit" value="login" class="btn btn-grey" style="color:whitesmoke;text-align-last:left;padding:0.2em;padding-left:2em;padding-right:2em">
    <input type="hidden" name="next" value="">

 </form> 


 
{% comment %} <form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table> {% endcomment %}
{% endblock %}