{% extends 'base.html' %}
{% block content %}

<style >
.buttonsInput{
        color:whitesmoke;
        text-align-last:left;
        padding:0.2em;
        padding-left:2em;
        padding-right:2em;
    }
 </style>

<div>
{% if request.user.is_authenticated %}
<br>
<div>
    <div class="w3-panel w3-leftbar w3-light-grey">
    <p class="w3-xlarge w3-serif">
    <i>{{qoute}}</i></p>
   
    </div>
    <br>
   <hr>
 
    <label>Welcome to {{request.user.username}}</label>

    <form method="POST" >
        {% csrf_token %}
        {{qForm}}
        <input  class="btn btn-grey buttonsInput" type="submit" name="reply"  id="myBtn">  </input>
    </form>
</div>
<form class="" method="get" action="" >
    {{ questions.form}}
    <button class="btn btn-grey buttonsInput" type="submit" > Search </button>
</form>
<hr>
<br>
    <div class="container-fluid" id="coolcomment">
        {% for question  in questions.qs %}
        <fieldset class="border border-0">
            <div class="card-body text-left" style="overflow: hidden;padding:0em">
                <div class="text-muted" ><small><b>{{question.get_time_diff}}</b></small></div>
                    <p  class="text-light" style="padding:3%;"><b>{{question.question_text}}</b><p>
                <div style="float: center;margin: 0.5em 1em;" class="h6" >
                    <a href="{% url 'question' slug=question.slug  %}" style="margin-left: 2em;" class="link">Reply or View Replies</a>
                </div>
            </div>        
        </fieldset>
        <span style=" display: block; margin-bottom: 0.3em; "></span>
        {% endfor %}
    <div>
{% else %}
    <a href="{% url 'forum-auth' %}" class="btn btn-grey buttonsInput" >Enter in a Forum</a>
{% endif %}     





<script>
    document.getElementById("checkreply").onclick = function() {replyOpen()};
    
    function replyOpen() {
        if (document.getElementById('replyID').style.display == 'inherit'){
            document.getElementById('replyID').style.display = 'none'
        }
        else{
            document.getElementById('replyID').style.display = 'inherit'
        }
    }
    </script>
{% endblock content %}