{% extends 'base.html' %}
{% block content %}

<style >

 </style>

<div>
    
<!-- <div class="container-fluid" > -->
    <div class="container-fluid" style="margin: 0.5%;padding: 5%;">
        {% for question  in questions.qs %}
        <fieldset class="border border-dark">
            <div class="card-body text-left" style="overflow: hidden;padding:0em">
                <div class="text-muted" ><small><b>{% if question.get_time_diff < 1 %}now {% elif question.get_time_diff < 2 %}{{uestion.get_time_diff}} hour ago {% else %}{{question.get_time_diff}} hours ago{% endif %} <b></small></div>
                    <p  class="wrap text-light" ><b>{{question.question_text}}</b><p>
                <div style="float: center;margin: 0.5em 1em;" class="h6" >
                    <a href="{% url 'question' slug=question.slug %}" style="margin-left: 2em;" class="link">Reply or View Replies</a>
                </div>
            </div>

            
        </fieldset><br>
        {% endfor %}
    <div>
    <!-- </div> -->
        
<!-- </div> -->





<script>
    document.getElementById("checkreply").onclick = function() {replyOpen()};
    
    function replyOpen() {
        if (document.getElementById('replyID').style.display == 'inherit'){
            document.getElementById('replyID').style.display = 'none'
        }
        else{
            document.getElementById('replyID').style.display = 'inherit'
        }
    }
    </script>
{% endblock content %}