{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Sen&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
      .buttonsInput{
          color:whitesmoke;
          text-align-last:left;
          padding:0.2em;
          padding-left:2em;
          padding-right:2em;
      } 
    </style>
{% endblock extra_head %}
{% block content %}

<div>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
      {{message}}
    </div>
  {% endfor %}
{% endif %}
</div>
<div>
  <label>supported by <a href="http://kikstartz.com/" style="color:#4ca190"><b>Kikstartz Rehabilitation LLP</b></a></label>
</div>
<hr>
<div class="w3-panel w3-leftbar"> 
  <p>
    <i class="fa fa-quote-right w3-xxlarge"></i><br>
    <i>{{qoute}}</i>
  </p>
</div>
<hr>
<section id="testimonials" >

  <div id="testimonial-carousel" class="carousel slide border border-light" data-ride="carousel" data-interval="100000">
    
    <ol class="carousel-indicators">
      <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#testimonial-carousel" data-slide-to="1"></li>
      <li data-target="#testimonial-carousel" data-slide-to="2"></li>
      <li data-target="#testimonial-carousel" data-slide-to="3"></li>
      <li data-target="#testimonial-carousel" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active image-style-carousel">
            <img src="{% static 'img/peerspace1.png' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item image-style-carousel">
            <img src="{% static 'img/peerspace2.png' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item image-style-carousel">
            <img src="{% static 'img/peerspace3.png' %}" class="d-block w-100" alt="...">
          </div> 
          <div class="carousel-item image-style-carousel">
            <img src="{% static 'img/peerspace4.png' %}" class="d-block w-100" alt="...">
          </div> 
          <div class="carousel-item image-style-carousel">
            <a href="{% url 'contact' %}"><img src="{% static 'img/peerspace5.png' %}" class="d-block w-100" alt="..."></a>
          </div> 
 

        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</section>
<hr><br>
<form method="POST" >
    {% csrf_token %}
    {% comment %} <div class="g-recaptcha" data-sitekey="{{recaptcha}}"></div> {% endcomment %}

    {{qForm}}
    <input  class="btn btn-grey buttonsInput" type="submit" name="reply" style="color:whitesmoke" id="myBtn">  </input>
</form>
<br>
<details class="btn btn-outline-dark" >
  <summary style=" outline: none;">Open Options</summary>
  <p>
    <form class="" method="get" action="" >
      {{ questions.form}}
      <button class="btn btn-grey buttonsInput" type="submit" style="color:whitesmoke"> Search </button>
    </form>
    {% if  request.user.is_authenticated %}
      {% comment %} <a href="{% url 'forum'  %}" class="btn btn-grey buttonsInput" style="color:whitesmoke">Go To Your Forum</a> {% endcomment %}
    {% else %}
      {% comment %} <a href="{% url 'generate-forum' %}" class="btn btn-grey buttonsInput" >Click to generate a forum</a> {% endcomment %}
    {% endif %}
  </p>
</details>
    <hr>
<div class="container-fluid " id="coolcomment">
  {% for question  in questions.qs %}
  <fieldset class="border border-0" style="">
    <div class="card-body text-left" style="overflow: hidden;padding:0em;">
      <div class="text-muted" ><small><b>{{question.get_time_diff}}</b></small></div>
      <p  class="text-light" style="padding:1em;margin:0">{{question.question_text}}</p>
      <div style="float: center;" class="h6" >
          <a href="{% url 'publicquestion' slug=question.slug  %}"  class="link">Reply or View Replies</a>
      </div>
    </div> 
  </fieldset><span style=" display: block; margin-bottom: 0.4em; "></span>
  {% endfor %}
<div>
</div>
</div>
<script>
    
    </script>
{% endblock  %}
