{% extends "base.html" %}
{% block content %}
<style >

 </style>

<div>
    <div class="w3-panel w3-leftbar w3-light-grey">
    <p class="w3-xlarge w3-serif">
    <i>{{qoute}}</i></p>
   
    </div>
    <form method="POST" >
        {% csrf_token %}
        {{qForm}}
        <input  class="btn btn-grey" type="submit" name="reply"  id="myBtn"style="color:whitesmoke;text-align-last:left;padding:0.2em;padding-left:2em;padding-right:2em">  </input>
    </form>
</div>
<br>
<form class="" method="get" action="" >
    {{ questions.form}}
    <button class="btn btn-grey" type="submit" style="color:whitesmoke;text-align-last:left;padding:0.2em;padding-left:2em;padding-right:2em"> Search </button>
</form>
{% if  not request.user.is_authenticated %}
    {% comment %} <a href="{% url 'generate-forum' %}" class="btn btn-grey" style="font-color:white;text-align-last:left;padding:0.2em;padding-left:2em;padding-right:2em">Click to generate a forum</a> {% endcomment %}

{% else %}
    <a href="{% url 'forum'  %}" class="btn btn-grey" style="margin-left: 2em;" style="color:whitesmoke;text-align-last:left;padding:0.2em;padding-left:2em;padding-right:2em">Go To Your Forum</a>
{% endif %}
<!-- <div class="container-fluid" > -->
    <div class="container-fluid" style="margin: 0.5%;padding: 5%;">
        {% for question  in questions.qs %}
        <fieldset class="border border-dark">
            <div class="card-body text-left" style="overflow: hidden;padding:0em">
                <div class="text-muted" ><small><b>{% if question.get_time_diff < 1 %}now {% elif question.get_time_diff < 2 %}{{uestion.get_time_diff}} hour ago {% else %}{{question.get_time_diff}} hours ago{% endif %} <b></small></div>
                    <p  class="wrap text-light" ><b>{{question.question_text}}</b><p>
                <div style="float: center;margin: 0.5em 1em;" class="h6" >
                    <a href="{% url 'publicquestion' slug=question.slug  %}" style="margin-left: 2em;" class="link">Reply or View Replies</a>
                </div>
            </div>

            
        </fieldset><br>
        {% endfor %}
    <div>
    <!-- </div> -->
        
<!-- </div> -->






<script>
    document.getElementById("checkreply").onclick = function() {replyOpen()};
    
    function replyOpen() {
        if (document.getElementById('replyID').style.display == 'inherit'){
            document.getElementById('replyID').style.display = 'none'
        }
        else{
            document.getElementById('replyID').style.display = 'inherit'
        }
    }
    </script>
{% endblock  %}
