<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <title>Blog</title>
  <link rel="stylesheet" href="styles3.css" >
  <link href="https://fonts.googleapis.com/css2?family=Jost&family=NTR&display=swap" rel="stylesheet">

</head>

<body class="body-style">
        
            <div class="old-div">
                <p>
                    <span class="span-style">
                        <time class="time-style">
                            June 28, 2021
                        </time>
                    </span> 
                    <span class="author-name">
                        XYZ
                    </span>

                </p> 
                <h2 >
                    <a class="header" href="https://www.livemint.com/news/india/-kejriwalji-already-decided-in-our-meeting-amit-shah-replies-to-delhi-cm-11592919118246.html">
                        World of Warcraft Could Help Fight COVID-19, Social Rejection Can Fuel Creativity, and What Mouse Facial Expressions Teach Us About Emotion
                    </a>
                </h2>
                <p class="reader">
                    Under Prime Minister Narendra Modi’s leadership, the nation has bridged the gap of 6 decades in just 6 years, Bharatiya Janata Party national president Jagat Prakash Nadda said while addressing the Assam Jan Samvad virtual rally on Tuesday.
                    Nadda said that this year is a marked by great achievements and has also exhibited how the country could fight the Covid-19 battle in the “best possible manner”.
                    “At the beginning of the crisis, we were not producing PPE kits but now over 4 lakh PPE kits are being produced daily. Covid-19 cases were doubling in three days earlier, now the doubling rate is around 17 days. Previously, we could test only 1,500 samples in a day which has gone up to 1.5 lakh daily,” the BJP president said.                    
                    Nadda opened his address by remembering and paying homage to 20 Indian Army bravehearts who lost their lives in the violent clash with the Chinese military during last week’s face-off in Ladak
                </p>

            </div> 

            <hr class="dash-style">

            <div class="new-div">
                <h3 class="new-heading">Recent Blog</h3>
                    <span class="new-span"> 
                        <a  class="new-a" href="https://www.google.com/">Juneteenth, the oldest celebration of the end of slavery by Ashley Hamer</a>
                    </span> 
                    <hr class="new-line">
                    <span class="new-span"> 
                        <a  class="new-a" href="https://www.google.com/">Climate Justice 101 (w/ Katharine Hayhoe), Why Peanut Butter Gets Gum Out of Hair, and How Gaslighting Makes You Question Your Sanity</a>
                    </span>
                    <hr class="new-line">
                    <span class="new-span"> 
                        <a  class="new-a" href="https://www.google.com/">Mental Health</a>
                    </span>
               
            </div>
            

           

            
            <!-- .entry-preview-wrapper .clearfix -->
        <!-- .entry-preview -->
</body>
</html>