{% extends "base.html" %}
{% block content %}
<style>
.time {
    color: white;
    opacity: 60%;
}
.link-btn {
    background: none!important;
    border: none;
    padding: 0!important;
    color:black;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    text-align: left;
    cursor: pointer;
}

</style>

<div class="">
    <div class="container-fluid">

        <div class="container">
            <div class="card-panel teal row" style="padding: 2em;">
                <div class="time small"><small>{{question.time|date:'Y-m-d H:i'}}</small></div>
                <p  class="white-text" style="text-align-last: left;"><b>{{question.question_text}}</b></p>


                <div class="container-fluid">
                    <button id="replybtn0" class="btn btn-small white-text" style="margin-top: 0.5em;background-color:#4d4d4d;" onclick="replyOpen('0');">Reply</button><br>
                </div>
                <div class="container-fluid" style="display:none;" id="replyID0">
                    <div class="row">
                        <form class="col s12" method="POST">
                            {% csrf_token %}
                          <div class="row">
                            <div class="col s12">
                                <input type="hidden" value={{question.id}} name="question_pk"></input>
                            </div>
                            <div class="input-field col s12">
                                {{ rForm.text }}
                                <label for="reply" class="white-text">Answer</label>
                                <input type="hidden" id="decider" name="decider" value="Reply">

                            </div>
                            <div class="input-field col s12">
                                {{rForm.captcha }}
                            </div>
                            <div class="col s6">
                                <button  class="btn btn-small white-text" style="margin-top: 0.5em;background-color:#4d4d4d;" type="submit" name="reply"  id="myBtn">Submit</button>
                            </div>
                            <div class="col s6">
                                <a  class="btn btn-small white-text" style="margin-top: 0.5em;background-color:#4d4d4d;" type="reset" name="cancel" onclick="replyOpen('0');" id="cancel">Cancel</a>
                            </div>
                          </div>
                        </form>
                      </div>
                </div>
            </div>
        </div>
        
        {% if replies %}
        <div class="container">
            <label for="innerpara"><h3>Replies</h3></label>
            {% for  reply,allrep in allreplies %}
            <div class="card-panel teal row" style="padding: 2em;">
                <div class="time small"><small>{{reply.get_time_diff}}</small></div>
                {% if reply.if_prof %}
                    <span class="span-style" style="font-family: 'NTR', sans-serif;background-color: #4dD191;">
                        <label style="padding:10px;color:black;">{{reply.if_prof}}</label>
                    </span>
                {% endif %}
                <p  class="white-text" style="text-align-last: left;word-wrap: break-word;">{{reply.reply_text}}</p>
                <div class="" style="text-align-last: left;">
                    <button id="replybtn{{forloop.counter}}" class="black-text link-btn" style="" onclick="replyOpen('{{forloop.counter}}');">Reply</button>
                    {% if allrep %}
                    <button id="allreplybtn{{forloop.counter}}" class="black-text link-btn" style="margin-left:1em" onclick="allReplyOpen('{{forloop.counter}}');">View Replies</button>
                    {% endif %}
                </div>
                <div class="container-fluid" style="display:none;" id="replyID{{forloop.counter}}">
                    <div class="row">
                        <form class="col s12" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col s12">
                                    <input type="hidden" value={{reply.id}} name="question_pk"></input>
                                </div>
                                <div class="input-field col s12">
                                    {{ rForm.text }}
                                    <label for="reply" class="white-text">Answer</label>
                                    <input type="hidden" id="decider" name="decider" value="RepliesReply">
                                    <input type="hidden" id="question_id" name="question_id" value="{{question.id}}">
                                </div>
                                <div class="input-field col s12">
                                    {{rForm.captcha }}
                                </div>
                                <div class="col s6">
                                    <button  class="btn btn-small white-text" style="margin-top: 0.5em;background-color:#4d4d4d;" type="submit" name="reply"  id="myBtn">Submit</button>
                                </div>
                                <div class="col s6">
                                    <a  class="btn btn-small white-text" style="margin-top: 0.5em;background-color:#4d4d4d;" type="reset" name="cancel" onclick="replyOpen('{{forloop.counter}}');" id="cancel">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
{% comment %} if replies to reply then
 {% endcomment %}

                <div style="margin-left:2em; display:none;" id="all-reply{{forloop.counter}}">
                <hr>
                {% for allreply in allrep %}
                <p  class="white-text" style="text-align-last: left;word-wrap: break-word;">{{allreply.reply_text}} <small class="time">- {{allreply.get_time_diff}}</small></p>
                <hr>
                {% endfor %}
                </div>

            </div>
            <span style=" display: block; margin-bottom: 0.4em; "></span>
            {% endfor %}
        </div> 
        {% endif %}
    <div>
</div>


<script>
    
    function replyOpen(X) {
        if (document.getElementById('replyID'+X).style.display == 'inherit'){
            document.getElementById('replyID'+X).style.display = 'none'
            document.getElementById('replybtn'+X).style.display = 'initial'
        }
        else{
            document.getElementById('replyID'+X).style.display = 'inherit'
            document.getElementById('replybtn'+X).style.display = 'none'
        }
    }
    $('#reply').val('');

    function allReplyOpen(X) {
        if (document.getElementById('all-reply'+X).style.display == 'inherit'){
            document.getElementById('all-reply'+X).style.display = 'none'
        }
        else{
            document.getElementById('all-reply'+X).style.display = 'inherit'
        }
    }

</script>

{% endblock  %}
