{% extends "base.html" %}
{% block content %}
<style>

.button1{
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}
.button1:hover{
 color:black;
 background-color:#FFFFFF;
}
@media all and (max-width:30em){
 .button1{
  display:block;
  margin:0.4em auto;
 }
}

</style>

<div class="">
    <div class="container-fluid"  id="coolcomment" >
        <fieldset class="border border-0">
            <div class="text-muted" ><small><b>{{question.get_time_diff}}</b></small></div>

            <p id="innerPara" class="text-light"><b>{{question.question_text}}</b><p>
            <div class="container-fluid">
                <button typ="button" id="replybtn" class=" btn btn-grey" onclick="replyOpen()" style="color:whitesmoke;">Reply</button><br>
            </div>
               
                <div class="container-fluid" style="width: 70%;display:none;" id="replyID" style="">
                    <form method="POST">
                        {% csrf_token %}
                        <div style="white-space: nowrap;">
                        <input type="hidden" value={{question.id}} name="question_pk"></input>
                        {{ rForm.text }}
                        {{rForm.captcha }}

                        <input  class="button1 btn btn-grey" type="submit" name="reply"  id="myBtn" style="color:whitesmoke;"></input>
                        <button  class="button1 btn btn-grey"  type="reset" name="cancel" onclick="replyOpen()" id="cancel" style="color:whitesmoke;">Cancel</button>

                        </div>
                    </form> 
                </div>
                <br>
        </fieldset>
        
                {% if replies %}
                <div id="coolcomment">
                    <label for="innerpara"><h3>Replies</h3></label>
                    {% for  reply in replies %}
                     <fieldset class="border border-0">
                        <div class="card-body " style="float:center;padding:0em 1em">
                            <div class="text-muted" ><small><b>{{reply.get_time_diff}}</b></small></div>
                            {% if reply.if_prof %}
                            <span class="span-style" style="color: white;font-family: 'NTR', sans-serif;background-color: #4dD191;color:#444444;">
                                <label style="padding:10px">Professional</label>
                            </span>
                            {% endif %}
                            <p class"text-light"  style="color:white">
                            {{reply.reply_text}}
                            <p>
                        </div>
                    </fieldset>
                    <span style=" display: block; margin-bottom: 0.4em; "></span>
                    {% endfor %}
                    {% endif %}
                </div> 
    <div>
</div>
</div></div>

<script>
    document.getElementById("checkreply").onclick = function() {replyOpen()};
    document.getElementById("cancel").onclick = function() {replyOpen()};

    
    function replyOpen() {
        if (document.getElementById('replyID').style.display == 'inherit'){
            document.getElementById('replyID').style.display = 'none'
            document.getElementById('replybtn').style.display = 'initial'
        }
        else{
            document.getElementById('replyID').style.display = 'inherit'
            document.getElementById('replybtn').style.display = 'none'
        }
    }
</script>

{% endblock  %}
