amqp==1.4.9
anyjson==0.3.3
beautifulsoup4==4.9.1
billiard==3.3.0.23
bs4==0.0.1
celery==3.1.26.post2
certifi==2023.7.22
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.13
django-admin-honeypot==1.1.0
django-blacklist==0.4.1
django-block-ip==0.2.0
django-celery==3.3.1
django-crontab==0.7.1
django-defender==0.7.0
django-filter==2.3.0
django-google-analytics-app==4.4.1
django-heroku==0.3.1
django-ratelimit==2.0.0
django-recaptcha==2.0.6
gunicorn==20.0.4
heroku==0.1.4
idna==2.10
ipcalc==1.99.0
kombu==3.0.37
psycopg2==2.8.5
python-dateutil==1.5
pytz==2020.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
structlog==20.1.0
urllib3==1.25.9
whitenoise==5.1.0
