/* font-family: 'NTR', sans-serif;
font-family: 'Jost', sans-serif; */

.body-style{
    margin: auto;
    padding: 100px 100px 0 100px ;
    background-color: #cddbdb;
}
.header{
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    color: black; 
    font-size: 3rem;
} 

.header:hover{
    color: rgb(204, 60, 60);
}
.header:visited{
    color: #4ca190;
}

.reader{
    font-family: 'NTR', sans-serif;
    font-size: 20px;
    line-height: 80%;
} 

.span-style{
    color: white;
    font-family: 'NTR', sans-serif;
    background-color: #4da191;
    
}

.time-style{
    padding: 10px;
}

.author-name{
    font-family: 'NTR', sans-serif;
    padding: 10px;
    margin: 0 auto;;
}

.dash-style{
    height: 0;
    border-style: dashed none none none;
    border-width: 2px;
    border-color: grey;
    margin: 30px auto 30px auto;
}