<style>
  a {
    color: white;
  }
  .label{
    color: white;
    opacity: 50%;
    font-size: 0.85rem;
    text-transform: capitalize;
  }

</style>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">Peerspace: A safe space for our friends to express their hearts out.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact</h5>
        <ul class="white-text">
          <li><span class="label">contact us:</span> <a href="mailto:peerspaceofficial@gmail.com">peerspaceofficial@gmail.com</a><br></li>
          <li><span class="label">follow us on</span> <a href="https://www.instagram.com/peerspaceofficial/" style="text-decoration: none;"><i class="fa fa-instagram" aria-hidden="true"></i> peerspaceofficial</a></li>
          <li><span class="label">supported by:</span><a href="http://kikstartz.com/">Kikstartz Rehabilitation LLP</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>
            
