{% load static %}
<head>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <style>
    .brand-logo{
      padding:1em;
      margin: 0 auto;;
    }
    .peerspace{
      background-color: #4ca190;
      color: white;
    }
    a {
      text-decoration: none;
    }
  </style>       


  
</head>
<div class="navbar-fixed">
  <nav class="teal">
    <div class="nav-wrapper">
      <a  href="/" style="margin: 2em;">
        <img class="brand-logo" src="{% static 'img/logo.png' %}">
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
            <li ><a href="{% url 'home' %}"   >Home</a></li>

            {% comment %} <li ><a href="{% url 'forum' %}"   >Forum</a></li> {% endcomment %}

            <li ><a href="{% url 'blog-links' %}"   >Blogs</a></li>
            <li ><a href="{% url 'about' %}"   >About</a></li>
            <li ><a href="{% url 'contact' %}"  >Contact</a></li>
            {% if not request.user.is_authenticated %}
                <li ><a href="{% url 'forum-auth' %}"  style="justify-content:right; margin-left: auto; margin-right:5px;;color: White;">Enter</a></li>
            {% else %}
                <li class="nav-item "><a href="{% url 'forum-out' %}"   style="justify-content:right; margin-left: auto; margin-right:5px;;color: White;">Exit</a></li>
            {% endif %}
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li ><a href="{% url 'home' %}">Home</a></li>

  {% comment %} <li ><a href="{% url 'forum' %}">Forum</a></li> {% endcomment %}

  <li ><a href="{% url 'blog-links' %}">Blogs</a></li>
  <li ><a href="{% url 'about' %}">About</a></li>
  <li ><a href="{% url 'contact' %}">Contact</a></li>
  {% if not request.user.is_authenticated %}
      <li ><a href="{% url 'forum-auth' %}" style="justify-content:right; margin-left: auto; margin-right:5px;">Enter</a></li>
  {% else %}
      <li class="nav-item "><a href="{% url 'forum-out' %}"  style="justify-content:right; margin-left: auto; margin-right:5px;;">Exit</a></li>
  {% endif %}
</ul>


<script>
    $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
